<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="author" content="CodeHim" />
		<title>User Profile Page</title>
		<!-- Style CSS -->
		<link rel="stylesheet" href="./css/profile.css" />
		<link rel="stylesheet" href="./css/style.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap"
			rel="stylesheet"
		/>

		<!-- for header and footer -->
		<!-- Bootstrap CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet" />
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
			rel="stylesheet"
		/>
		<link href="css/tiny-slider.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />
		<title>Web programming intro</title>
	</head>
	<body>
		<!-- Start Header/Navigation -->
		<nav
			class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark"
			arial-label="Furni navigation bar"
		>
			<div class="container">
				<a class="navbar-brand" href="index.html">Burch Shop<span>.</span></a>

				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarsFurni"
					aria-controls="navbarsFurni"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item active">
							<a class="nav-link" href="index.html">Home</a>
						</li>
						<li><a class="nav-link" href="shop.html">Shop</a></li>
						<li><a class="nav-link" href="about.html">About us</a></li>
						<!-- <li><a class="nav-link" href="services.html">Services</a></li> -->
						<!-- <li><a class="nav-link" href="blog.html">Blog</a></li> -->
						<li><a class="nav-link" href="contact.html">Contact us</a></li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li>
							<a class="nav-link" href="#"><img src="images/user.svg" /></a>
						</li>
						<li>
							<a class="nav-link" href="cart.html"
								><img src="images/cart.svg"
							/></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- End Header/Navigation -->

		<!-- Start Profile -->
		<main class="cd__main">
			<div class="profile-page">
				<div class="content">
					<div class="content__cover">
						<div class="content__avatar"></div>
					</div>
					<div class="content__title">
						<h1>Samantha Jones</h1>
						<span>email@example.com</span>
					</div>
					<div class="content__actions">
						<a href="delete.html" class="button">Delete account</a>
						<a href="change-password.html" class="button">Change Password</a>
					</div>
				</div>
			</div>
		</main>
		<!-- End Profile -->

		<!-- Start Footer Section -->
		<footer class="footer-section">
			<div class="container relative">
				<div class="sofa-img">
					<img src="images/sofa.png" alt="Image" class="img-fluid" />
				</div>

				<div class="row">
					<div class="col-lg-8">
						<div class="subscription-form">
							<h3 class="d-flex align-items-center">
								<span class="me-1"
									><img
										src="images/envelope-outline.svg"
										alt="Image"
										class="img-fluid" /></span
								><span>Subscribe to Newsletter</span>
							</h3>

							<form action="#" class="row g-3">
								<div class="col-auto">
									<input
										type="text"
										class="form-control"
										placeholder="Enter your name"
									/>
								</div>
								<div class="col-auto">
									<input
										type="email"
										class="form-control"
										placeholder="Enter your email"
									/>
								</div>
								<div class="col-auto">
									<button class="btn btn-primary">
										<span class="fa fa-paper-plane"></span>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							<p class="mb-2 text-center text-lg-start">
								Copyright &copy;
								<script>
									document.write(new Date().getFullYear());
								</script>
								. All Rights Reserved. &mdash; Designed with love by
								<a href="https://github.com/emirkugic">Emir Kugic</a>
							</p>
						</div>

						<div class="col-lg-6 text-center text-lg-end">
							<ul class="list-unstyled d-inline-flex ms-auto">
								<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer Section -->

		<!-- Script JS -->
		<script src="./js/profile.js"></script>
	</body>
</html>
