<!-- Start Profile -->
<main class="cd__main">
	<div class="profile-page">
		<div class="content">
			<div class="content__cover">
				<div class="content__avatar"></div>
			</div>
			<div class="content__title">
				<h1>Samantha Jones</h1>
				<span>email@example.com</span>
			</div>
			<div class="content__actions">
				<a href="delete.html" class="button">Delete account</a>
				<a href="change-password.html" class="button">Change Password</a>
			</div>
		</div>
	</div>
</main>
<!-- End Profile -->